<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/bb8.css">
    <link rel="stylesheet" href="./css/restaurante.css">
    <script src="/js/restaurante.js" defer></script>
    <% if (store) { %>
    <script>
      const open_time = "<%- store.open_time %>";
      const close_time = "<%- store.close_time %>";
    </script>
    <% } %>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img id="logo-image" src="/img/FoodSpace__1_-removebg-preview 1.png"
            alt=""></a>
        <form id="searching" class="d-flex" role="search">
          <input id="pesquisa" class="form-control me-2" type="search" placeholder="Busque por itens ou lojas"
            aria-label="Search">
          <img id="button-search" src="/img/lupa.png" class="btn btn-outline-success" type="submit"></img>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex flex-row pe-5">
          <div id="endereco" class="dropdown d-flex justify-content-center">
            <button id="button-endereco" class="btn btn-secondary dropdown-toggle" type="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Selecione um endereço
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 ms-5  mb-lg-0">
              <img class="options-nav" src="/img/user.png" alt="">
            </ul>
            <ul class="navbar-nav me-auto mb-2  ms-5 mb-lg-0">
              <img class="options-nav" src="/img/carrinho.png" alt="">
            </ul>
            <ul id="bb8-slider" class="navbar-nav me-auto mb-2 ms-5  mb-lg-0">
              <label class="bb8-toggle">
                <input class="bb8-toggle__checkbox" type="checkbox">
                <div class="bb8-toggle__container">
                  <div class="bb8-toggle__scenery">
                    <div class="bb8-toggle__star"></div>
                    <div class="bb8-toggle__star"></div>
                    <div class="bb8-toggle__star"></div>
                    <div class="bb8-toggle__star"></div>
                    <div class="bb8-toggle__star"></div>
                    <div class="bb8-toggle__star"></div>
                    <div class="bb8-toggle__star"></div>
                    <div class="tatto-1"></div>
                    <div class="tatto-2"></div>
                    <div class="gomrassen"></div>
                    <div class="hermes"></div>
                    <div class="chenini"></div>
                    <div class="bb8-toggle__cloud"></div>
                    <div class="bb8-toggle__cloud"></div>
                    <div class="bb8-toggle__cloud"></div>
                  </div>
                  <div class="bb8">
                    <div class="bb8__head-container">
                      <div class="bb8__antenna"></div>
                      <div class="bb8__antenna"></div>
                      <div class="bb8__head"></div>
                    </div>
                    <div class="bb8__body"></div>
                  </div>
                  <div class="artificial__hidden">
                    <div class="bb8__shadow"></div>
                  </div>
                </div>
              </label>
            </ul>
            <span class="navbar-text">
            </span>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="restaurant-header position-relative d-flex justify-content-center align-items-center">
        <img src="./img/restaurante/r_img_default.svg" alt="">
        <h1 id="title" class="position-absolute">
          <% if (store) { %>
            <%- store.store_name  %>
          <% } else { %>
            Restaurante nao encontrado
         <% } %>
        </h1>

    </div>

    <% if (store) { %>
    <div class="plates-section px-4 pt-4">
        <div class="info d-flex justify-content-between align-items-center pb-5">
            <div class="d-flex">
                <div class="me-3"><img id="profileImg" src="./img/restaurante/profile_default.svg" alt=""></div>
                <div class="d-flex flex-column">
                    <h4><%- store.store_name %></h4>
                    <p style="color: gray;" class="m-0">Funcionamento: <%- store.open_time %> às <%- store.close_time %></p>
                    <p id="status"></p>
                </div>
            </div>
            <div class="position-relative d-flex align-items-center">
                <img class="input-icon" src="./img/lupa.png" alt="">
                <input id="buscaCardapio" type="text" placeholder="Buscar no cardápio">
            </div> 
        </div>

        <h4 class="title">Destaques</h4>
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid">
              <div class="card-deck d-flex justify-content-center gap-5">
    
                <div class="card" style="width: 18rem;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
    
    
            </div>
            <div class="carousel-item">
              <div class="card-deck d-flex justify-content-center gap-5">
    
                <div class="card" style="width: 18rem;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card titlaae</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card-deck d-flex justify-content-center gap-5">
    
                <div class="card" style="width: 18rem;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card titaaaaale</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-theme="dark" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon position-absolute" style="left: 50px;" aria-hidden="true">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
              </svg>
            </span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-theme="light" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon position-absolute" style="right: 50px;" aria-hidden="true">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
              </svg>
            </span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div class="cardapio">
            <h4>Cardapio</h4>

            <div class="cardapio-items">
                <div class="item">
                    <div>
                        <h4>Titulo</h4>
                        <p>Descrição do prato...</p>
                    </div>
                    <img src="./img/restaurante/comida.png" alt="">
                </div>
                <div class="item">
                    <div>
                        <h4>Titulo</h4>
                        <p>Descrição do prato...</p>
                    </div>
                    <img src="./img/restaurante/comida.png" alt="">
                </div>
                <div class="item">
                    <div>
                        <h4>Titulo</h4>
                        <p>Descrição do prato...</p>
                    </div>
                    <img src="./img/restaurante/comida.png" alt="">
                </div>
                <div class="item">
                    <div>
                        <h4>Titulo</h4>
                        <p>Descrição do prato...</p>
                    </div>
                    <img src="./img/restaurante/comida.png" alt="">
                </div>
                <div class="item">
                    <div>
                        <h4>Titulo</h4>
                        <p>Descrição do prato...</p>
                    </div>
                    <img src="./img/restaurante/comida.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <% } %>
  </main>
  <footer>
    <div id="footer-info" class="bg-body-tertiary d-flex justify-content-between px-5 py-4">
      <div class="d-flex">
        <a class="navbar-brand" href="#"><img id="logo-image" src="/img/FoodSpace__1_-removebg-preview 1.png"
            alt=""></a>
        <div class="d-flex flex-column justify-content-center">
          <p>Copyrights© 2005</p>
          <p>Rua Juscelino Kubitschek - 555</p>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-center">
        <p>Alguma coisa</p>
        <p>Mais alguma coisa</p>
      </div>
      <div class="d-flex flex-column justify-content-center" id="social">
        <div class="container-fluid d-flex justify-content-around align-items-center">
          <div class="d-flex align-items-center justify-content-center">
            <img src="/img/insta.svg" class="pe-2" alt="">
            <p>Instagram</p>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <img src="/img/tt.svg" class="pe-2" alt="">
            <p>Twitter</p>
          </div>
        </div>
        <div id="linha" class="my-3"></div>
        <div class="container-fluid d-flex justify-content-around">
          <p>Termos de contrato</p>
          <p>Sobre</p>
        </div>
      </div>
    </div>
  </footer>
    
</body>
</html>